.agent-filter{
  width:100%;
  background:#f3f3f3;
  border-bottom:1px solid #b1b1b1;
  border-top: 1px solid #b1b1b1;

  &--sticky{
    z-index:1000;
    border-top:none;
    position:fixed;
    top:0;
  }

&__input-container{
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  height:100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

&__text-input, &__select{
  flex-basis:100%;
  width:100%;
  padding:0;
  margin:0;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
}

&__text-input{
  padding-left: 15px;
  margin-bottom: 15px;
  width:100%;
  flex-basis: 100%;
  margin-right: 0;
}

@media screen and (min-width:768px){
  height:66px;

  &__input-container{
    flex-wrap: nowrap;
    padding-top:0;
    padding-bottom:0;
  }

  &__text-input, &__select{
    flex-basis:300px;
    width:300px;
    margin-bottom: 0;
  }

  &__text-input{
    margin-right:15px;
    margin-bottom: 0
  }
}
}
