.content-container{
  padding: 0 5%;

  @media screen and (min-width:768px){
    margin:auto;
    padding:0 15%;
    max-width:1200px;
  }

  &--narrow{
  margin: 0 10%;

  @media screen and (min-width:768px){
    margin: 0 20%;
  }
  }
}
