.agent-header{
  width:100%;
  height:800px;
  background:url('/images/agent-landing-page/agent-bg.jpg');
  background-size: cover;
  justify-content: center;
  align-items: center;
  display:flex;
  //background-color: red;

  &__content{

  }

  &__agent-name{
    display:block;
    color:#fff;
    font-weight: 600;
  }

  &__description{
    background:red;
    text-align: center;
    font-size: 25px;
  }

  &__image{
    width:300px;
    height:300px;
    border: 8px solid #fff;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.3);
  }
}
