.agent-info{
  padding:100px 0;

  .content-container{
    display:flex;
    flex-wrap: wrap-reverse;
  }

  @media screen and (min-width:1200px){
    .content-container{
      flex-wrap: wrap;
    }
  }

}
