.about-intro{
padding: 100px 0;

&__quotation-mark{
  font-size: 60px;
  line-height: 30px;
  padding:0;
  margin:0;
}

&__title{
  margin-top:100px;
  margin-bottom:60px;
}

&__description{
  color:#555;
}

&__quote {
    font-family:'roboto' serif;
    font-size: 30px;
    //text-align: center;
    font-style: italic;
    max-width: 900px;
    margin: 0 auto 100px auto;
    padding: 0.35em 40px;
    line-height: 1.45;
    position: relative;
    left:30px;
    color: #3bc193;
    //background:red;
}

&__quote:before {
    content: "\201C";
    font-family: georgia,serif;
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
    padding-right:20px;
    color: #3bc193;
}

&__horizontal-rule {
  border:1px solid rgba(85,85,85,0.15);
  width:80%;
}

@media screen and (min-width:768px){
  &__quote {
    left:40px;
  }
}

@media screen and (min-width:992px){
  &__quote {
    left:55px;
  }
}

}
