.listing-header{
  width:100%;
  border-bottom:1px solid #d5d5d5;
  margin-bottom: 30px;

  &__info{
    color:#555;
    margin:0;
    padding:0;
    display:block;
    //text-align: center;
    &--title{
      font-size: 20px;
      font-weight: bold;
      text-align: center;
    }
  }

  &__content-container{
    display:flex;
    padding-top:15px;
    padding-bottom:15px;
  }

  &__info-wrapper{
    margin-left:auto;
  }

  &__info-container{
    padding: 0 15px;
    border-right: 1px solid #d5d5d5;
    display:inline-block;

    &:last-child{
      border-right:none;
    }
  }
}
