.listing-page-slider{
  height:100%;
  &__test{
    width:500px;
    height:500px;
  }

  &__image{
    height:100%;
    width:100%;
    background-size: cover;
    background-position: center;
  }
}
