.about-content{

  &__image{
    width:400px;
    height:400px;
    flex-basis: 100%;
    flex-shrink: 0;

    &--longhorn{
      background:url("/images/about/longhorn.jpeg");
      background-size:cover;
      background-position: center;
    }

    &--expertise{
      background:url("/images/about/expertise.jpeg");
      background-size:cover;
      background-position: center;
    }
  }

  &__content-container{
    display:flex;
    width:100%;
    flex-wrap:wrap;
    margin-bottom:80px;

    &:last-child{
      margin-bottom: 0;
      flex-wrap: wrap-reverse;
    }
  }

  &__content-paragraph{
    margin:0;
  }

  &__image-description{
    display:flex;
    width:100%;
    flex-basis: 100%;
    align-items: center;
    color:#555;
    box-sizing: border-box;
    margin-top: 50px;
    text-align: center;
  }

  &__paragraph-title{
    width:auto;
    display:inline-block;
    margin-top:0;
    margin-bottom:30px;
  }

  &__title{
    margin-bottom:0px;
    margin-top: 0;
  }

  &__founders{
    display:inline-flex;
    justify-content: space-around;
    flex-wrap:wrap;
  }

  &__founders-description{
    color:#555;
    margin-bottom:80px;
  }

  &__meet-our-founders{
    margin: 100px 0;
    text-align:center;
  }

  &__founder-card{
    margin:10px;
  }

  @media screen and (min-width:768px){

    &__image{
      flex-basis:50%;
    }

    &__image-description{
      width:50%;
      flex-basis: 50%;
      padding-left:30px;
      margin-top:0;

      &--left{
      padding-right:30px;
      padding-left:0;
      }
    }
  }

  @media screen and (min-width:992px){

  }

}
