.listing-page-nav{
  font-size: 0;
  overflow:visible;
  z-index:800;
  position:relative;

  &__mobile-search{
    margin-top: 10px;
    width:300px;
  }

  &__desktop-search{
    margin-left:30px;
    width:500px;
  }


  &__main{
    display:flex;
    align-items: center;
    display:block;
    width:100%;
    margin:0;
    padding:0;
    height:55px;
    overflow:visible;
    border-bottom: 1px solid #d5d5d5;
  }

  &__menu--desktop{
    display:none;
    align-items:center;
    list-style-type: none;
    font-size: 20px;
    flex-grow: 1;
    justify-content: flex-end;
    transition:margin .3s ease;
    margin: 0 30px 0 0;
    height:55px;
    padding:0;

    li{
      display:flex;
      align-items: center;
      height:55px;
    }


    a{
      display:flex;
      text-decoration: none;
      padding: 0 10px;
      color:black;
      transition:all .25s ease;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: 20px;
      line-height: 55px;
      height:55px;

      &:hover{
        color:#fff;
        background-color:#3bc193;
      }

      &:active{
        color:#3bc193;
      }
    }

  }

  &__hamburger{
    width:25px;
    margin:0 30px;
    cursor:pointer;
  }

  &__logo{
    width:180px;
    height:55px;
    flex:1;
    transition: all .3s ease;
    cursor:pointer;
    margin-left:0;
  }

  @media screen and (min-width:650px){
    -webkit-box-shadow: 0px 1px 3px 0px rgba(143,143,143,0.4);
    -moz-box-shadow: 0px 1px 3px 0px rgba(143,143,143,0.4);
    box-shadow: 0px 1px 3px 0px rgba(143,143,143,0.4);
  }

  @media screen and (min-width:1025px){
    &__menu--desktop{
      display:flex;
    }

    &__logo{
      width:190px;
      margin-left:30px;
    }

    &__hamburger{
      display:none;
      visibility: none;
    }
  }

  @media screen and (min-width:992px){
    &__menu--desktop{
      font-size: 22px;
    }
  }
}

.test{
  margin:0;
  font-size: 20;
  color:black;
  height:50px;
  width:100%;
  display:block;
  padding-top: 7px;
  box-sizing: border-box;
}
