.text-input{
  height:50px;
  padding:5px 15px 5px 15px;
  margin:5px 0;
  box-sizing: border-box;
  border:1px solid #dedede;
  border-radius:3px;
  width:100%;
  font-size: 18px;
  color:#555;

  &:focus{
    outline:none;
    border: 1px solid #3bc193;
  }

  &:hover{
    border: 1px solid #3bc193;
  }

  &--border{
  border: 1px solid #b1b1b1;
  }

  &--small{
    height:35px;
    font-size: 15px;
  }
}

//input[type="text"]{
//  height:35px;
//  border-radius: 3px;
//  border:1px solid #dedede;
//  padding-left: 10px;
//  font-size: 14px;
//  box-sizing: border-box;
//  margin: 5px 0;
//  flex-basis:100%;
//  width:100%;

//  &:focus{
//    outline:none;
//    border: 1px solid #3bc193;
//  }
//  &:hover{
//    border: 1px solid #3bc193;
//  }
//}
