.new-listings{
  padding: 100px 0;

  .section-title{
    margin-bottom: 65px;
  }

  &__listing-container{
    display:flex;
    width:100%;
    justify-content: center;
    flex-wrap:wrap;
  }

  .card{
    margin-right:20px;
    flex:1;

    &:last-child{
      margin-right: 0;
    }

  }

}
