.hero-section{
  display:flex;
  align-items: center;
  justify-content: center;
  height:600px;
  width:100%;
  color:#fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-image: url("/images/hero-image3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;


  &__title{
    margin:0;
    padding:0;
    font-size: 38px;
    font-weight: 700;
    text-shadow: 0px 4px 8px rgba(0,0,0,0.7);
    line-height: 38px;
  }

  &__subtitle{
    font-size: 25px;
    padding:20px 0;
    margin:0;
    text-shadow: 0px 2px 5px rgba(0,0,0,0.7);
    font-weight: 500;
    //display:none;
  }

  & option{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-color:white;
  }

  & form{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }


  &__select{
    width:100%;
    flex-basis: 100%;
    //display:none;

    &--small{
      width:49%;
      flex-basis:49%;
      //display:none;
    }

  }

  &__submit-btn{
    margin: 5px 0;
    width:100%;
    height:50px;
    border-radius:5px;
    border:none;
    cursor:pointer;
    font-family:'Roboto', sans-serif;
    font-size:18px;
    color:#fff;
    background:#3bc193;
    font-weight:500;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    transition:background-color.2s ease;

    &:focus{
      outline:none;
    }

    &:hover{
      background-color: #35a880;
    }
  }

  @media screen and (min-width:768px){

    &__title{
      font-size:55px;
      line-height: 55px;
      text-align: center;
    }

    &__subtitle{

      text-align: center;

    }

    &__select{
      flex-basis:50%;
    }

    &__select--small{
      flex-basis:23%;

    }

    &__submit-btn{
      width:300px;
      margin: 30px auto;
    }
  }

  @media screen and (min-width:1100px){

    &__title{
      font-size:65px;
      line-height: 65px;
    }

    &__subtitle{
      font-size: 30px;
    }

    &__select{
      flex-basis:36%;
    }

    &__select--small{
      flex-basis:18%;

    }

    &__submit-btn{
      width:190px;
      margin:5px 0;
    }

    & select{
      padding: 0 0 0 15px;
    }

  }

}
