.listing-search-bar{
  height:35px;
  //margin-top: 10px;
  box-sizing: border-box;
  width:100%;
  font-size:16px;
  padding-left: 10px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #b1b1b1;
  //background:blue;

  &:hover{
    border: 1px solid #3bc193;
  }

  &:focus{
    outline:none;
  }

  &__input-container{
    display:flex;
    //background:blue;
  }

  &__search-btn{
    width:50px;
    height:35px;
    //margin-top:10px;
    background:#3bc193;
    border-radius: 0 5px 5px 0;
    font-size: 20px;
  }

  &__location-header{
    height:40px;
    display:block;
    background-color:#fff;
    position:relative;
  }

  &__location-header-title{
    font-weight: bold;
    font-size: 15px;
    position:absolute;
    transform:translateY(-50%);
    top:50%;
    margin-left: 10px;
  }

  &__type-ahead-result{
    width:100%;
    height:50px;
    display:block;
    background:#fff;
    position:relative;
    cursor:pointer;

    &:hover{
      background-color:#f5f5f5;
      color:#3cc194;
    }
  }

  &__type-ahead-container{
    -webkit-box-shadow: 0px 1px 5px 0px rgba(143,143,143,0.8);
    -moz-box-shadow: 0px 1px 5px 0px rgba(143,143,143,0.8);
    box-shadow: 0px 1px 5px 0px rgba(143,143,143,0.8);
    position:absolute;
    width:350px;
    background-color:#fff;
  }

  &__result-title,&__result-subtitle{
    display:block;
  }

  &__result-subtitle{
    font-size: 14px;
  }

  &__result-title{
    font-size: 16px;
  }

  &__result-text{
    position:absolute;
    transform: translateY(-50%);
    top:50%;
    margin-left: 30px;
  }

  &__wrapper{
    width:360px;
    z-index:1000;
    margin-left: 30px;

    &--mobile{
      .listing_search-bar__wrapper{
        margin-left: 0;
      }
    }
  }

}
