.listing-search-bar{
  position:relative;
  width:100%;
  max-width: 400px;
  margin-right: 20px;
  font-size: 0;
  border:1px solid #d5d5d5;
  box-sizing: border-box;
  border-radius: 5px;
  overflow:visible;
  align-self: flex-start;

  &__clear-search-icon{
    font-size: 16px;
    color:#9a9a9a;
    position:absolute;
    height:35px;
    width:40px;
    right:15%;
    z-index:110;
    text-align: center;
    line-height: 33px;
    display:none;
    &:hover{
      cursor:pointer;
    }
  }

  &__agent-image{
    width:35px;
    height:35px;
    display:inline-block;
    float:left;
    border-radius: 50%;
    line-height: 50px;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    background-size:cover;
  }

  &__search-btn{
    height:35px;
    width:15%;
    background:#3bc193;
    border-radius: 0 5px 5px 0;
    display:inline-block;
    cursor:pointer;
    transition: all .3s ease;
    position:relative;
    z-index: 100;

    &:hover{
      background:#35a880;
    }
  }

  &__back-btn{
    display:none;
    position:relative;
    border:none;
    text-decoration: none;
    background:none;
    cursor:pointer;

    &:focus{
      outline:none;
    }
  }

  &__result-title,&__result-subtitle{
    display:block;
    height:20px;
    line-height: 20px;
  }

  &__result-title{
    font-size: 16px;
    display:inline;
    &--bold{
      font-weight: bold;
    }
  }

  &__result-subtitle{
    font-size: 14px;
    color:#636363;
  }

  &__result-text{
    display:inline-block;
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    font-size: 16px;

    &--agent{
      margin-left:45px;
    }
  }

  &__icon-container{
    display:inline-block;
    width:40px;
    position:relative;
    font-size: 16px;

    svg{
      position:relative;
      left:50%;
      transform:translateX(-50%);
      color:#3bc193;
    }
  }

  &__input{
    height:35px;
    font-size: 16px;
    border-radius: 5px;
    float:left;
    padding:0;
    padding-left: 10px;
    box-sizing: border-box;
    width:85%;
    border:none;
    margin:0;
    display:inline-block;

    &:focus{
      outline:none;
    }
  }

  &__location-header{
    text-align: left;
    height:38px;
    font-size: 16px;
  }

  &__location-header-title{
    font-weight: bold;
    line-height: 38px;
  }

  &__type-ahead-container{
    border-radius: 5px;
    background:#fff;
    margin-left: 40px;
    margin-top: 20px;

    &:focus{
      outline:none;
    }
  }

  &__type-ahead-result{
    height:50px;
    display:block;
    padding-left: 10px;
    cursor:pointer;
    text-align: left;
    padding-left:40px;
    position:relative;

    &:focus{
      outline:none;
    }

    &:hover{
      background:#f2f2f2;
    }
  }
}

.active{
    &.listing-search-bar  {
      .listing-search-bar{
       &__clear-search-icon.is-visible{
          right:40px;
          display:inline-block;
          &:hover{
            cursor:pointer;
          }
        }

        &__search-btn{
          display:none;
        }
        &__back-btn{
          width:40px;
          height:35px;
          display:inline-block;
          text-align: center;
        }
        &__back-btn-icon{
          position:absolute;
          top:50%;
          left: 50%;
          transform: translate(-50%,-50%);
          color:#3bc193;
        }
        &__input-container{
          margin-top: 10px;
          display:flex;
        }
        &__mobile-search-container{
          position:fixed;
          padding-right: 40px;
          top:0;
          bottom:0;
          left:0;
          right:0;
          background:#fff;
        }
        &__input{
          padding-left:10px;
          height:35px;
          background:#f3f3f3;
          text-overflow: ellipsis;
          width:100%;
          display:inline-block;
          vertical-align: top;
        }
        &__type-ahead-result{
          &:last-child{
            border-radius: 0 0 0 0;
          }
        }
        &__location-header{
          padding-left: 0;
        }
      }
    }

  @media screen and (min-width:650px){
    &.listing-search-bar{
      border:none;
      -webkit-box-shadow: 0px 1px 5px 1px #ccc;
      -moz-box-shadow:    0px 1px 5px 1px #ccc;
      box-shadow:         0px 1px 5px 1px #ccc;
      .listing-search-bar{
        &__back-btn{
          display:none;
        }
        &__mobile-search-container{
          padding-right:0;
          position:static;
          background:none;
        }

        &__clear-search-icon.is-visible{
           right:0;
           display:inline-block;
           &:hover{
             cursor:pointer;
           }
         }

        &__input{
          padding-left:10px;
          background:none;
          margin-top: 0;
          border-radius: 5px 5px 0 0;
        }
        &__input-container{
          margin-top:0;
        }
        &__type-ahead-container{
          margin-right:0;
          margin-left:0;
          width:100%;
          margin-top:0;
        }
        &__type-ahead-result{
          &:last-child{
            border-radius: 0 0 5px 5px;
          }
        }
      }
    }
  }
}
